body {
    color: #585858;
}

.calendar {
    margin-top: 2%;
    height: 90%;
    width: 90%;
}
.fc-today { background: #ffdfee !important; }
.fc-fri { color: red !important; }

.fc-day:hover { background-color: #f5f5f5; }

#calendarColumn {
    border-left: 1px solid #c3c3c3;
}

.prevMonthCalendar {
    margin: 5%;
}
