.calendar {
    margin-top: 20px;
    height: 750px;
    width: 750px;
}

#calendarColumn {
    border-left: 1px solid #ada9a9;
}

.prevMonthCalendar {
    margin-left: 20px;
    width: 400px;
}

.nextMonthCalendar {
    width: 400px;
}

#previousAndNextMonths { display: flex; }