body {
    color: #585858;
}

.calendar {
    margin-top: 2% !important;
    width: 80%;
}
.fc-today { background: #ffbfdd !important; }
.fc-fri { color: red !important; }

.fc-day:hover { background-color: #f5f5f5; }

#calendarColumn {
    border-left: 1px solid #c3c3c3;
}

.prevMonthCalendar {
    margin: 5%;
}

/* CSS for Bootstrap modal body */
.form-control { height: 2em; }
.form-group label {
    font-weight: 100;
    font-size: 0.85em;
}

#scheduledTasks { width: 32% }

#scheduled_tasks_label { font-size: medium; font-weight: 500; }
.scheduled_tasks_label { font-size: small; font-weight: 500; line-height: 1em; }
.scheduled_tasks_details { line-height: 1em; color: #2196f3; }
#eventsList { margin-left: 2em; }